.elgg-search {
  margin: 0;
  padding: 4px;
  background: #1c5080;
  overflow: hidden;
  height: 45px;
}
.elgg-search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
}
.elgg-search fieldset input[type="text"].search-input {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  border: none;
  color: white;
  border: none;
  text-indent: 30px;
  font-size: 0.875rem;
  line-height: 29px;
  height: auto;
  padding: 4px 10px;
  margin: 0;
}
.elgg-search fieldset input[type="text"].search-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  border: none;
}
.elgg-search fieldset .elgg-icon-search {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.375rem;
  margin: 0 10px;
  color: white;
  line-height: 37px;
}
.elgg-search fieldset input[type="submit"].search-submit-button {
  display: none;
}
