meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width: 64em)/";
  width: 64em;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* **************************
	BUTTONS
************************** */
.elgg-button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 0.75rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.5625rem;
  padding-right: 1.125rem;
  padding-bottom: 0.625rem;
  padding-left: 1.125rem;
  font-size: 0.8125rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #4690d6;
  border-color: #4f96d8;
  color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.elgg-button:hover, .elgg-button:focus {
  background-color: #4f96d8;
}
.elgg-button:hover, .elgg-button:focus {
  color: white;
}
.elgg-button.elgg-button-large {
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.8125rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
}
.elgg-button.elgg-button-small {
  padding-top: 0.4375rem;
  padding-right: 0.875rem;
  padding-bottom: 0.5rem;
  padding-left: 0.875rem;
  font-size: 0.6875rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
}
.elgg-button.elgg-button-tiny {
  padding-top: 0.3125rem;
  padding-right: 0.625rem;
  padding-bottom: 0.375rem;
  padding-left: 0.625rem;
  font-size: 0.5625rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
}
.elgg-button.elgg-button-submit {
  background-color: #2a77bf;
  border-color: #2d7eca;
  color: white;
}
.elgg-button.elgg-button-submit:hover, .elgg-button.elgg-button-submit:focus {
  background-color: #2d7eca;
}
.elgg-button.elgg-button-submit:hover, .elgg-button.elgg-button-submit:focus {
  color: white;
}
.elgg-button.elgg-button-action {
  background-color: #2a77bf;
  border-color: #2d7eca;
  color: white;
}
.elgg-button.elgg-button-action:hover, .elgg-button.elgg-button-action:focus {
  background-color: #2d7eca;
}
.elgg-button.elgg-button-action:hover, .elgg-button.elgg-button-action:focus {
  color: white;
}
.elgg-button.elgg-button-cancel {
  background-color: #999999;
  border-color: #9e9e9e;
  color: white;
}
.elgg-button.elgg-button-cancel:hover, .elgg-button.elgg-button-cancel:focus {
  background-color: #9e9e9e;
}
.elgg-button.elgg-button-cancel:hover, .elgg-button.elgg-button-cancel:focus {
  color: white;
}
.elgg-button.elgg-button-delete {
  background-color: #67080a;
  border-color: #7a090c;
  color: white;
}
.elgg-button.elgg-button-delete:hover, .elgg-button.elgg-button-delete:focus {
  background-color: #7a090c;
}
.elgg-button.elgg-button-delete:hover, .elgg-button.elgg-button-delete:focus {
  color: white;
}
.elgg-button.elgg-button-dropdown {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 0.75rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.5625rem;
  padding-right: 1.125rem;
  padding-bottom: 0.625rem;
  padding-left: 1.125rem;
  font-size: 0.8125rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #4690d6;
  border-color: #4f96d8;
  color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding-right: 3.5625rem;
}
.elgg-button.elgg-button-dropdown:hover, .elgg-button.elgg-button-dropdown:focus {
  background-color: #4f96d8;
}
.elgg-button.elgg-button-dropdown:hover, .elgg-button.elgg-button-dropdown:focus {
  color: white;
}
.elgg-button.elgg-button-dropdown:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-color: white transparent transparent transparent;
  top: 50%;
}
.elgg-button.elgg-button-dropdown:before {
  border-width: 0.375rem;
  right: 1.40625rem;
  margin-top: -0.15625rem;
}
.elgg-button.elgg-button-dropdown:before {
  border-color: white transparent transparent transparent;
}
.elgg-button.elgg-state-disabled {
  background-color: #dedede;
  border-color: #e0e0e0;
  color: #333333;
  cursor: default;
  opacity: 0.7;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.elgg-button.elgg-state-disabled:hover, .elgg-button.elgg-state-disabled:focus {
  background-color: #e0e0e0;
}
.elgg-button.elgg-state-disabled:hover, .elgg-button.elgg-state-disabled:focus {
  color: #333333;
}
.elgg-button.elgg-state-disabled:hover, .elgg-button.elgg-state-disabled:focus {
  background-color: #dedede;
}
