/* ***************************************
	TOPBAR
**************************************** */
/* ***************************************
	HEADER
**************************************** */
.elgg-page-header {
  *zoom: 1;
  background: #4690d6;
  position: relative;
  margin: 0;
}
.elgg-page-header:before, .elgg-page-header:after {
  content: " ";
  display: table;
}
.elgg-page-header:after {
  clear: both;
}
.elgg-page-header > .elgg-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  position: relative;
}
.elgg-page-header > .elgg-inner:before, .elgg-page-header > .elgg-inner:after {
  content: " ";
  display: table;
}
.elgg-page-header > .elgg-inner:after {
  clear: both;
}
.elgg-page-header > .elgg-inner h1 {
  display: inline-block;
  margin: 0;
}
.elgg-page-header .elgg-page-toolbar {
  z-index: 2;
}
.elgg-page-header .orbit-container {
  z-index: 1;
}

/* ***************************************
	TOOLSBAR (SITE MENU WRAPPER)
**************************************** */
.elgg-page-toolbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  background: #215d95;
  position: relative;
  min-height: 45px;
}
.elgg-page-toolbar:before, .elgg-page-toolbar:after {
  content: " ";
  display: table;
}
.elgg-page-toolbar:after {
  clear: both;
}
.elgg-page-toolbar .elgg-col {
  padding: 0;
}

/* ***************************************
	PAGE BODY
**************************************** */
.elgg-page-body {
  *zoom: 1;
  margin: 0 auto;
}
.elgg-page-body:before, .elgg-page-body:after {
  content: " ";
  display: table;
}
.elgg-page-body:after {
  clear: both;
}
.elgg-page-body > .elgg-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  margin-top: -1px;
  background: white;
  border: 1px solid #dddddd;
  border-top: none;
}
.elgg-page-body > .elgg-inner:before, .elgg-page-body > .elgg-inner:after {
  content: " ";
  display: table;
}
.elgg-page-body > .elgg-inner:after {
  clear: both;
}
.elgg-page-body > .elgg-inner .elgg-layout > * {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ***************************************
	FOOTER
**************************************** */
.elgg-page-footer {
  *zoom: 1;
  background: transparent;
}
.elgg-page-footer:before, .elgg-page-footer:after {
  content: " ";
  display: table;
}
.elgg-page-footer:after {
  clear: both;
}
.elgg-page-footer > .elgg-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  background: transparent;
  border: 1px solid transparent;
  border-top: 0;
  padding: 1.5rem;
  margin-bottom: 1.875rem;
}
.elgg-page-footer > .elgg-inner:before, .elgg-page-footer > .elgg-inner:after {
  content: " ";
  display: table;
}
.elgg-page-footer > .elgg-inner:after {
  clear: both;
}

.elgg-system-messages {
  position: fixed;
  bottom: 24px;
  left: 20px;
  max-width: "only screen and (min-width:40.063em)";
  z-index: 2000;
}

.elgg-system-messages li {
  margin-top: 10px;
}

.elgg-system-messages li p {
  margin: 0;
}

.elgg-layout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  min-height: "only screen and (min-width:40.063em)";
}
.elgg-layout:before, .elgg-layout:after {
  content: " ";
  display: table;
}
.elgg-layout:after {
  clear: both;
}

.elgg-layout-one-sidebar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
}
.elgg-layout-one-sidebar:before, .elgg-layout-one-sidebar:after {
  content: " ";
  display: table;
}
.elgg-layout-one-sidebar:after {
  clear: both;
}
.elgg-layout-one-sidebar .elgg-main {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
.elgg-layout-one-sidebar .elgg-sidebar {
  min-height: 0.4375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: right;
  float: right;
}
@media only screen and (min-width: 40.063em) {
  .elgg-layout-one-sidebar .elgg-main {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    right: 25%;
    left: auto;
    float: left;
  }
  .elgg-layout-one-sidebar .elgg-sidebar {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: right;
    left: 75%;
    right: auto;
    float: right;
    border-left: 1px solid #dddddd;
  }
}

.elgg-layout-two-sidebar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
}
.elgg-layout-two-sidebar:before, .elgg-layout-two-sidebar:after {
  content: " ";
  display: table;
}
.elgg-layout-two-sidebar:after {
  clear: both;
}
.elgg-layout-two-sidebar .elgg-main {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
.elgg-layout-two-sidebar .elgg-sidebar {
  min-height: 0.4375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
.elgg-layout-two-sidebar .elgg-sidebar-alt {
  min-height: 0.4375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 40.063em) {
  .elgg-layout-two-sidebar .elgg-main {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 58.33333%;
    right: 25%;
    left: auto;
    float: left;
  }
  .elgg-layout-two-sidebar .elgg-sidebar {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: right;
    left: 75%;
    right: auto;
    float: left;
  }
  .elgg-layout-two-sidebar .elgg-sidebar-alt {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 16.66667%;
    right: 25%;
    left: auto;
    float: left;
  }
}

.elgg-layout-error > * {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 66.66667%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
