meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width: 64em)/";
  width: 64em;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* ***************************************
	MISC
*************************************** */
#login-dropdown {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  margin: 10px;
}
#login-dropdown .elgg-button {
  background-color: #003f54;
}

#login-dropdown-box {
  width: 25rem;
}

/* ***************************************
	AVATAR UPLOADING & CROPPING
*************************************** */
#current-user-avatar {
  border: 1px solid #dddddd;
  border-bottom: 0;
  margin: 0;
  padding: 0.75rem;
}
#current-user-avatar + a {
  width: 100%;
  margin: 0;
}

#avatar-croppingtool {
  display: none;
}
@media only screen and (min-width: 40.063em) {
  #avatar-croppingtool {
    display: block;
  }
}
#avatar-croppingtool .elgg-form-avatar-crop {
  position: relative;
}
#avatar-croppingtool .elgg-form-avatar-crop fieldset {
  padding: 0 0 0 140px;
}
#avatar-croppingtool .elgg-form-avatar-crop fieldset .elgg-foot {
  padding: 0.75rem 0;
}
#avatar-croppingtool #user-avatar-cropper {
  display: block;
  max-width: 99999px;
}
#avatar-croppingtool #user-avatar-preview-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  border: 10px solid #dddddd;
  background: #dddddd;
  font-weight: bold;
}
#avatar-croppingtool #user-avatar-preview {
  position: absolute;
  background: white;
  top: 30px;
  left: 0;
  border: 1px solid;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: 10px solid #dddddd;
}
#avatar-croppingtool #user-avatar-preview img {
  max-width: 9999px;
  display: block;
}

/* ***************************************
	FRIENDS COLLECTIONS
*************************************** */
#friends_collections_accordian li h2 {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e7e7e7;
  color: white;
  cursor: pointer;
  margin: 0.4375rem;
  padding: 0.28125rem 0.5625rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
}
#friends_collections_accordian li h2:hover {
  background: #f4f4f4;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#friends_collections_accordian li h2 .friends_collections_controls {
  float: right;
}
#friends_collections_accordian li h2 .elgg-icon {
  font-size: 1.125rem;
  color: white;
}
#friends_collections_accordian li .elgg-tabs {
  border-bottom: 1px #dddddd solid;
  display: table;
  width: 100%;
}
#friends_collections_accordian li .elgg-tabs li {
  border: 1px #dddddd solid;
  border-bottom: 0;
  background: white;
  margin: 0;
  width: 100%;
}
#friends_collections_accordian li .elgg-tabs li a {
  text-decoration: none;
  display: block;
  padding: 0 0.5625rem;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 2.1875rem;
  color: #919191;
  background: #eaeaea;
}
#friends_collections_accordian li .elgg-tabs li a:hover {
  color: #777777;
  background: #e5e5e5;
}
#friends_collections_accordian li .elgg-tabs li.elgg-state-selected {
  background: white;
}
#friends_collections_accordian li .elgg-tabs li.elgg-state-selected a, #friends_collections_accordian li .elgg-tabs li.elgg-state-selected a:hover {
  color: #777777;
  top: 1px;
  background: white;
  position: relative;
}
@media only screen and (min-width: 40.063em) {
  #friends_collections_accordian li .elgg-tabs {
    -webkit-border-radius: none;
    border-radius: none;
  }
  #friends_collections_accordian li .elgg-tabs li {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    float: left;
    width: auto;
    margin: 0 0 0 0.5625rem;
  }
  #friends_collections_accordian li .elgg-tabs li a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
}
#friends_collections_accordian li .friends-picker-main-wrapper {
  display: none;
  height: 550px;
}
#friends_collections_accordian li .friends-picker-main-wrapper > * {
  position: relative;
  margin: 0.5625rem;
  *zoom: 1;
}
#friends_collections_accordian li .friends-picker-main-wrapper > *:before, #friends_collections_accordian li .friends-picker-main-wrapper > *:after {
  content: " ";
  display: table;
}
#friends_collections_accordian li .friends-picker-main-wrapper > *:after {
  clear: both;
}

/* ***************************************
	FRIENDS PICKER
*************************************** */
.friends-picker-main-wrapper {
  position: relative;
  height: 500px;
  max-width: 730px;
}
.friends-picker-main-wrapper .friends-picker-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.friends-picker-main-wrapper .friends-picker-navigation br {
  display: none;
}
.friends-picker-main-wrapper .friends-picker-navigation ul {
  padding: 0.4375rem;
  padding-right: 100px;
  margin-bottom: 0.4375rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.friends-picker-main-wrapper .friends-picker-navigation ul li {
  display: inline-block;
}
.friends-picker-main-wrapper .friends-picker-navigation ul li a {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 2px;
  font-weight: bold;
  color: #e7e7e7;
  padding: 2px 4px;
}
.friends-picker-main-wrapper .friends-picker-navigation ul li a.current, .friends-picker-main-wrapper .friends-picker-navigation ul li a:hover {
  color: white;
  background: #e7e7e7;
}
.friends-picker-main-wrapper .friends-picker {
  overflow: auto;
  *zoom: 1;
}
@media only screen and (min-width: 40.063em) {
  .friends-picker-main-wrapper .friends-picker {
    overflow: hidden;
  }
}
.friends-picker-main-wrapper .friends-picker:before, .friends-picker-main-wrapper .friends-picker:after {
  content: " ";
  display: table;
}
.friends-picker-main-wrapper .friends-picker:after {
  clear: both;
}
.friends-picker-main-wrapper .friends-picker .friends-picker-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
}
.friends-picker-main-wrapper .friends-picker .friends-picker-container .panel {
  padding: 0;
  margin: 0;
  float: left;
  height: 100%;
  position: relative;
  width: 730px;
}
.friends-picker-main-wrapper .friends-picker .friends-picker-container .panel .wrapper {
  padding: 10px;
  height: 400px;
  overflow-y: auto;
}
.friends-picker-main-wrapper .friends-picker .friends-picker-container .panel h3 {
  color: #999;
  font-size: 1.875rem;
  text-shadow: 1px 1px 0 white;
  width: 100%;
}
.friends-picker-main-wrapper .friends-picker-navigation-l {
  position: absolute;
  top: 0;
  right: 48px;
  text-indent: -9000em;
  background: url('../../../../graphics/../../../_graphics/friendspicker.png?1389467384') no-repeat left top;
}
.friends-picker-main-wrapper .friends-picker-navigation-l:hover {
  background: url('../../../../graphics/../../../_graphics/friendspicker.png?1389467384') no-repeat left -44px;
}
.friends-picker-main-wrapper .friends-picker-navigation-l a {
  display: block;
  height: 40px;
  width: 40px;
}
.friends-picker-main-wrapper .friends-picker-navigation-r {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9000em;
  background: url('../../../../graphics/../../../_graphics/friendspicker.png?1389467384') no-repeat -60px top;
}
.friends-picker-main-wrapper .friends-picker-navigation-r:hover {
  background: url('../../../../graphics/../../../_graphics/friendspicker.png?1389467384') no-repeat -60px -44px;
}
.friends-picker-main-wrapper .friends-picker-navigation-r a {
  display: block;
  height: 40px;
  width: 40px;
}
.friends-picker-main-wrapper .friendspicker-savebuttons {
  margin: 0.5625rem 0;
}
