@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin-top: 0;
  font-weight: normal;
  word-break: break-all;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

acronym {
  text-transform: none;
}

ol, ul {
  list-style: none;
}

.elgg-heading-site, .elgg-heading-site:hover {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  padding: 1.25rem;
}

.elgg-heading-main, .elgg-heading-main:hover {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 66.66667%;
  float: left;
  padding-left: 0;
  color: #4690d6;
}

.elgg-heading-basic {
  color: #444444;
  font-size: 1.125rem;
}

.elgg-subtext {
  color: #2f2f2f;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-style: italic;
}

.elgg-text-help {
  display: block;
  font-size: 85%;
  font-style: italic;
}

.elgg-quiet {
  color: #3c3c3c;
}

.elgg-loud {
  color: #090909;
  font-weight: bold;
}

.elgg-output {
  margin: 0.625rem 0;
}
