/****************************
	FILE TOOLS
****************************/
#file_tools_breadcrumbs {
  display: block;
  padding: 0.4375rem 0.5625rem;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-color: #f7f7f7;
  border-color: #dddddd;
}
#file_tools_breadcrumbs li {
  margin: 0;
  float: left;
  font-size: 0.6875rem;
  text-transform: uppercase;
}
#file_tools_breadcrumbs li:hover a, #file_tools_breadcrumbs li:focus a {
  text-decoration: underline;
}
#file_tools_breadcrumbs li a,
#file_tools_breadcrumbs li span {
  text-transform: uppercase;
  color: #4690d6;
}
#file_tools_breadcrumbs li.current {
  cursor: default;
  color: #333333;
}
#file_tools_breadcrumbs li.current a {
  cursor: default;
  color: #333333;
}
#file_tools_breadcrumbs li.current:hover, #file_tools_breadcrumbs li.current:hover a, #file_tools_breadcrumbs li.current:focus, #file_tools_breadcrumbs li.current:focus a {
  text-decoration: none;
}
#file_tools_breadcrumbs li.unavailable {
  color: #999999;
}
#file_tools_breadcrumbs li.unavailable a {
  color: #999999;
}
#file_tools_breadcrumbs li.unavailable:hover, #file_tools_breadcrumbs li.unavailable:hover a, #file_tools_breadcrumbs li.unavailable:focus,
#file_tools_breadcrumbs li.unavailable a:focus {
  text-decoration: none;
  color: #999999;
  cursor: default;
}
#file_tools_breadcrumbs li:before {
  content: "/";
  color: #aaaaaa;
  margin: 0 0.5625rem;
  position: relative;
  top: 1px;
}
#file_tools_breadcrumbs li:first-child:before {
  content: " ";
  margin: 0;
}
#file_tools_breadcrumbs li a {
  float: none;
  display: inline-block;
}
#file_tools_breadcrumbs li:after {
  content: "";
}

#file_tools_breadcrumbs {
  margin-top: 5px;
  font-weight: bold;
  margin-left: 0;
  padding: 3px;
}
#file_tools_breadcrumbs ul {
  padding: 3px 10px;
  margin: 0;
}

#file_tools_list_files_container {
  margin-top: 0.5625rem;
}

#file_tools_breadcrumbs ul {
  padding: 3px 10px;
  margin: 0;
}

#file_tools_breadcrumbs ul li a {
  font-size: 0.9em;
  font-weight: normal;
}

#file_tools_list_files_container .elgg-content {
  margin-top: 0.9375rem;
}

#file-tools-folder-tree {
  overflow-y: auto;
  margin-bottom: 20px;
}

.elgg-sidebar .tree > ul {
  margin: 10px 0;
  padding: 10px 0;
}

.elgg-sidebar .tree-classic li a, .tree li span {
  line-height: 25px;
  margin: 0;
  padding: 0 8px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  height: auto;
  white-space: nowrap;
  margin: -4px 0 4px;
}

.elgg-sidebar .tree-classic li a.clicked, .elgg-sidebar .tree-classic li a.clicked:hover, .elgg-sidebar .tree-classic li span.clicked {
  line-height: 25px;
  display: block;
  padding: 0 8px;
  margin: 0;
  vertical-align: middle;
  font-size: 12px;
  background: #efefef;
  border: none;
  color: #222222;
  font-weight: bold;
  display: inline-block;
  height: auto;
  white-space: nowrap;
  margin: -4px 0 4px;
}

.elgg-menu-item-root {
  width: 100%;
}
