@import "../../init";

form, .elgg-form {
	margin: 0;
	@include clearfix;

	fieldset {
		border: none;
		margin: 0;
		padding: 0
	}

	label {
		color: scale-color($body-font-color, $lightness: -5%);
		& + br {
			display: none;
		}
	}

	.mceEditor {
		margin-bottom: 20px;
		display: block;
	}
}
