@import "../init";

.groups-profile {
	@include grid-row;
	border: 1px solid $border-color;
	margin-bottom: rem-calc(20px);
	& > .elgg-image {
		@include grid-column(12);
		padding: rem-calc(15px);
		background-color: lighten($border-color, 10%);
		margin: 0;
		@media #{$medium-up} {
			@include grid-column(3);
			padding: rem-calc(15px);
		}
		.groups-profile-icon {
			@include grid-column(4);
			@media #{$medium-up} {
				@include grid-column(12);
				padding: 0;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.groups-stats {
			@include grid-column(8);
			p {
				margin:3px 0;
			}
			@media #{$medium-up} {
				@include grid-column(12);
				padding: 0;
				margin-top: 10px;
			}
		}
	}
	& > .elgg-body {
		@include grid-column(12);
		padding: rem-calc(15px);
		@media #{$medium-up} {
			@include grid-column(9);
			padding: rem-calc(15px);
		}
	}

}

#groups-tools.elgg-gallery {
	& > li {
		margin: 0;
		display: block;
		@include grid-column(12);
		@media #{$medium-up} {
			@include grid-column(6);
		}
	}
}

.groups-widget-viewall {
	@include float(right);
	a {
		color: $primary-color;
		text-transform: uppercase;
		font-size: rem-calc(10px);
	}
}