meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width: 64em)/";
  width: 64em;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* ***************************************
	Profile
*************************************** */
.profile {
  margin-bottom: 1.875rem;
}
.profile .elgg-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  border: 1px solid #dddddd;
}
.profile .elgg-inner:before, .profile .elgg-inner:after {
  content: " ";
  display: table;
}
.profile .elgg-inner:after {
  clear: both;
}

#profile-owner-block {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  padding: 1.25rem;
  background-color: #f7f7f7;
}
#profile-owner-block .elgg-menu-owner-block li a {
  background: white;
}
#profile-owner-block .elgg-menu-owner-block li:hover a {
  background: #4690d6;
}
#profile-owner-block .elgg-avatar {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  padding: 0;
}
#profile-owner-block .elgg-avatar + *, #profile-owner-block .elgg-avatar + * + * {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  padding: 0;
}
#profile-owner-block .elgg-avatar + * .elgg-button, #profile-owner-block .elgg-avatar + * + * .elgg-button {
  width: 100%;
  margin: 0 0 5px 0;
}
#profile-owner-block .profile-admin-menu-wrapper {
  display: inline-block;
  width: 100%;
}
#profile-owner-block .profile-admin-menu-wrapper > li {
  float: none;
}
#profile-owner-block .profile-admin-menu-wrapper > li a {
  width: 100%;
  display: inline-block;
  padding: 0.21875rem 0.4375rem;
  background: white;
}
#profile-owner-block .profile-admin-menu-wrapper > li a:hover {
  background: #4690d6;
  color: white;
}
#profile-owner-block .profile-admin-menu-wrapper .profile-admin-menu {
  background: white;
  margin: 0;
  padding: 0;
  display: none;
}
@media only screen and (min-width: 400px) {
  #profile-owner-block .elgg-avatar {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 41.66667%;
    float: left;
    padding: 0;
  }
  #profile-owner-block .elgg-avatar + *, #profile-owner-block .elgg-avatar + * + * {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 58.33333%;
    float: left;
    margin: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  #profile-owner-block {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
    padding: 1.25rem;
  }
  #profile-owner-block .elgg-avatar {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0;
  }
  #profile-owner-block .elgg-avatar + *, #profile-owner-block .elgg-avatar + * + * {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0;
  }
  #profile-owner-block .elgg-avatar + *.mvm, #profile-owner-block .elgg-avatar + * + *.mvm {
    margin: 10px 0;
  }
}

#profile-details {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  *zoom: 1;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding: 1.25rem;
}
#profile-details:before, #profile-details:after {
  content: " ";
  display: table;
}
#profile-details:after {
  clear: both;
}
#profile-details > .odd, #profile-details .even {
  *zoom: 1;
  position: relative;
  padding: 0.4375rem;
  border-color: #eaeaea;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
}
#profile-details > .odd:before, #profile-details > .odd:after, #profile-details .even:before, #profile-details .even:after {
  content: " ";
  display: table;
}
#profile-details > .odd:after, #profile-details .even:after {
  clear: both;
}
#profile-details > .odd:first-child, #profile-details .even:first-child {
  margin-top: 0.4375rem;
}
#profile-details > .odd:last-child, #profile-details .even:last-child {
  border-bottom-width: 1px;
  margin-bottom: 0.4375rem;
}
@media only screen and (min-width: 40.063em) {
  #profile-details {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
    padding: 1.25rem;
  }
}
#profile-details .even {
  background-color: #f7f7f7;
}
#profile-details .profile-aboutme-title {
  margin: 20px 0 0;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.profile-banned-user {
  border: 2px solid #4690d6;
  padding: 0.5625rem;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
